<a href="https://colab.research.google.com/github/parkdongseop/-basic-python-2022-2-2200257-google-colab/blob/main/%EA%B8%B0%EC%B4%88%ED%8C%8C%EC%9D%B4%EC%8D%AC_%EC%A4%91%EA%B0%84%EC%8B%9C%ED%97%98.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

19. 다음보기의 사칙연산을 완성하시오. 한줄에 모두, 여러줄로 나누어서, 보기좋게 정리 
보기: 1 + 2, 2 - 3, 3 * 4, 4 / 4 윗줄이 답

In [ ]:
print(1+2, 2-3, 3*4, 4/4)
print(1+2)
print(2-3)
print(3*4)
print(4/4)

3 -1 12 1.0

20. 아래의 출력화면을 간결하고 보기좋게 코딩하시오.

In [ ]:
print("*" * 40)
print("*" 제1조 1항 대한민국은 민주공화국이다. "*")
print("*" * 40)

In [ ]:
name = input("이름을 입력하시오.:")
age = input("나이를 입력하시오.: ")
addr = input("주소를 입력하시오,: ")
print("이름: "name, age, addr)

이름을 입력하시오.:유상민
나이를 입력하시오.: 54
주소를 입력하시오,: 전북군산시 미룡동
유상민 54 전북군산시 미룡동

import turtle: 라이브러리
t = turtle.Turtle() 위에서 import한 터틀에 모든 함수 변수

29

In [ ]:
n1 = input("첫번째 정수를 입력하시오.: ")
n2 = input("두번째 정수를 입력하시오.: ")
print("두 합의 값은", n1 + n2, "입니다.")

첫번째 정수를 입력하시오.: 100
두번째 정수를 입력하시오.: 100
두 합의 값은 100100 입니다.

In [ ]:
n1 = int(input("첫번째 정수를 입력하시오.: "))
n2 = int(input("두번째 정수를 입력하시오.: "))
print("두 합의 값은", n1 + n2, "입니다.")

첫번째 정수를 입력하시오.: 10